
.accounts {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;

    .btn {
        width: 40%;
        height: 60%;
        font-weight: 600;
    }

    .btn.sign-up {
        background-color: purple;
        color: white;
        border-radius: 20px;
    }
}
